@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica' sans-serif;
    font-size: 18px; 
}

#map {
    height: 600px;
}

/*
<--this is to fix the info window size -->
*/
.gm-style-iw {
    width: 200px;
    height: 100px;
}